body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}
.hero {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
    background-color: rgb(0, 38, 255);
    color: white;
}
.hero .content {
    text-align: center;
}
.section {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    max-width: 100%;
}
input, .output {
    padding: 10px;
    font-size: 20px;
    width: 380px;
}
body {
    margin-bottom: 100px;
}


#glitchedoutput {
    padding: 70px 20px;
}